<div class="overflow-x-auto px-8" [class.pt-2]="index === 0">
  <app-connectors
    *ngIf="index"
    [length]="images.length"
    direction="up"
  ></app-connectors>

  <div class="relative flex justify-center mx-auto w-min">
    <app-input-image
      *ngFor="let image of images"
      [imageSrc]="image"
    ></app-input-image>

    <app-morph-group-button-add></app-morph-group-button-add>
  </div>

  <app-connectors [length]="images.length"></app-connectors>
</div>
<div class="text-center" *ngIf="images.length > 1">
  <app-connector-vertical></app-connector-vertical>

  <app-morph-group-button></app-morph-group-button>

  <app-connector-vertical *ngIf="status === 'morphed'"></app-connector-vertical>
</div>
