@font-face {
  font-family: "Eina";
  src: url("/assets/fonts/eina-regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Strokeweight";
  src: url("/assets/fonts/strokeweight.ttf") format("truetype");
  font-display: swap;
}
