<div class="w-[200px] px-[10px] flex justify-center items-center">
  <div
    (click)="alert()"
    class="animate-morph relative w-full h-[180px] rounded-md overflow-hidden bg-gray-100 flex items-center justify-center border border-zinc-300 group cursor-pointer hover:scale-105 duration-100"
  >
    <img
      *ngIf="imageSrc"
      [src]="imageSrc"
      class="duration-100 w-[180px] h-[180px] group-hover:scale-110"
      alt="cre[ai]tion inspiration"
    />
    <button
      type="button"
      *ngIf="!disabled"
      (click)="emitDelete()"
      class="absolute p-2 right-0 top-0 hover:opacity-50"
    >
      <icon-x-circle></icon-x-circle>
    </button>
  </div>
</div>
